html {
    box-sizing: border-box;
    font-family: Lato;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
  text-align: center;
}

container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#game {
  max-width: 400px;
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 3%;
  background-color: rgb(229,229,227);
  margin: 0 0 3em;
}

.card {
  width: 85px;
  height: 85px;
  border-radius: 5%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 0 8px -2px rgba(0, 0, 0, 0.25), -6px 0 4px -2px rgba(0, 0, 0, 0.2);
  margin: 5px;
}

div {
  background-color: rgb(226, 226, 220);
  border-color: rgb(226, 226, 220);
}

.flipped {
  background-color: rgb(77,135,181);
  border-color: rgb(77,135,181);
}

.flipped img {
  display: none;
}

.guessed {
  background-color: rgb(86,177,63);
  border-color: rgb(86,177,63);
  transform: scale(0.8);
  transition-duration: 2s;
}

img {
  width: 30px;
  margin: 25px;
}

.noSuccess {
  display: none;
}

#success {
  position: absolute;
  top: 30%;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  color: white;
}

.button {
  width: 150px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
}

#button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color: rgb(112, 112, 108);
}

#stats {
  margin-bottom: 10px;
}

#reset {
  margin-left: 50px;
  float: right;
  background-color: rgb(204, 204, 197);
}

#tiemGame {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#timeSuccess, #ratingSuccess, #movesSuccess, #bestScore {
  text-align: center;
}
